/* mixins */
  @mixin vertical_centering {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @mixin after_separator {
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      height: 21px;
      width: 1px;
      background-color: #e6e6e6;
      margin: auto;
      right:0;
      top: 0;
      bottom: 0;
    }
  }

  @mixin hover_color_red {
    cursor: pointer;
    &:hover {
      color: #e41317; 
      transition: 0.2s linear 0s;
    }
  }

  @mixin hover_background_red {
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: #e41317;
      transition: 0.2s linear 0s;
    }
  }
/* general */
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'TruthCYR-Regular';
    font-size: 0;
  }

  h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal; 
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  @font-face {
    font-family: 'TruthCYR-Regular';
    src: url('assets/TruthCYR_Regular/TruthCYR-Regular.eot?#iefix') format('embedded-opentype'),  
         url('assets/TruthCYR_Regular/TruthCYR-Regular.otf')  format('opentype'),
         url('assets/TruthCYR_Regular/TruthCYR-Regular.woff') format('woff'), 
         url('assets/TruthCYR_Regular/TruthCYR-Regular.ttf')  format('truetype'), 
         url('assets/TruthCYR_Regular/TruthCYR-Regular.svg#TruthCYR-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/* page elements */
  #page-container {
      margin: 0 auto;
      width: 991px;
      position: relative;
      min-height: 100%;
      padding-top: 20px;
      padding-bottom: 189px;
      overflow: hidden;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
  }

  #page-header {   

    .header-content {
      overflow: hidden;

      .header-left {
        float: left;
        width: 457px;
        padding-top: 4px;

        .header-logo {
          float: left;
          height: 50px;
          margin-left: 1px;
          width: 100px;
          border: none;
        }

        .call-info {
          overflow: hidden; 

          .call-title {
            color: #9b9da3;
            display: inline-block;
            font-size: 11px;
            font-weight: lighter;
            margin-left: 27px;
            margin-top: 4px;
          }

          .call-content {
            display: inline-block;
            margin-left: 26px;
            margin-top: 4px;
            position: relative;

            .call-short-number {
              color: #000000;
              display: inline-block;
              font-size: 16px;
              padding-left: 18px;
              position: relative;
              @include after_separator;
              &:after { right: -11px; }

              &:before {
                background: transparent url("assets/sprites.png") no-repeat scroll center -227px;
                bottom: 0;
                content: "";
                display: block;
                height: 13px;
                left: 0;
                margin: auto 0;
                position: absolute;
                top: 0;
                width: 12px;
              }
            }

            .call-long-number {
              display: inline-block;
              margin-left: 19px;
              position: relative;
              @include after_separator;
              &:after { right: -11px; }

              .call-number-code {
                color: #9b9da3;
                font-size: 11px;               
              }

              .call-number-main {
                color: #000;
                font-size: 16px;
                margin-left: 2px;           
              }
            }

            .call-link {
              bottom: 2px;
              display: inline-block;
              font-weight: lighter;
              margin-left: 23px;
              position: relative;

              & > a {
                font-size: 11px;
                color: rgb(0, 157, 224);
                @include hover_color_red;
              }
            }
          }
        }
      }

      .header-right {
        overflow: hidden;
        .header-links {
          color: #000;
          padding-right: 164px;
          text-align: right;

          .header-link {
            & > a {
              color: #009de0;
              font-size: 11px;
              margin: 0 9.5px;
              @include hover_color_red;
            }
          }
        }

        .search-and-order {
          margin-top: 8px;

          .search-field-wraper {
            overflow: hidden;
            position: relative;

            .search-field {
              font-size: 11px;
              width: 100%;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              height: 29px;
              padding: 0 31px 0 8px;
              font-family: 'TruthCYR-Regular';
              box-shadow: none;
              border: 1px solid #dddddd;
              border-radius: 3px;
              outline: none;
              &::-webkit-inpbt-placeholder { color: #b8b8b8; }
              &:-moz-placeholder { color: #b8b8b8; opacity:  1; }
              &::-moz-placeholder { color: #b8b8b8; opacity:  1; }
              &:-ms-input-placeholder { color: #b8b8b8; }
            }

            .serach-button {
              background: url("assets/sprites.png") no-repeat scroll center -193px rgba(0, 0, 0, 0);
              bottom: 0;
              height: 28px;
              position: absolute;
              right: 0;
              top: 0;
              width: 30px;
              cursor: pointer;
            }
          }

          .order-buttons {
            float: right;
            margin-left: 11px;
            margin-right: 10px;

            .order-button {
              display: inline-block;
              height: 30px;
              margin: 0 5px;
              position: relative;
              width: 40px;
              cursor: pointer;
              @include after_separator;

              &.active .order-button-circle {
                background-color: #E41317;
                border-radius: 50%;
                bottom: 1px;
                color: #FFFFFF;
                display: block;
                font-size: 11px;
                height: 17px;
                line-height: 17px;
                position: absolute;
                right: 1px;
                text-align: center;
                width: 17px;
              }

              &:not(.active) .order-button-circle {
                display: none;
              }

              &:after { 
                bottom: 2px;
                right: -4px;
              }

              &:nth-last-child(1):after { display: none; }
              &.profile { background: transparent url("assets/sprites.png") no-repeat scroll center -1px }
              &.profile:hover { background-position: center -31px }
              &.weighter { background: transparent url("assets/sprites.png") no-repeat scroll center -63px }
              &.weighter.active { background-position: center -97px }
              &.buy { background: transparent url("assets/sprites.png") no-repeat scroll center -130px }
              &.buy.active { background-position: center -163px }              
            }
          }
        }
      }
    }

    #top-menu {
      background-color: #5c5e64;
      display: table;
      height: 41px;
      margin-top: 11px;
      padding: 0 9px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;

      .top-menu-element {
        display: table-cell;
        font-size: 13px;
        height: 100%;
        line-height: 41px;
        text-align: center;
        transition: 0.2s linear 0s;

        & > a {
          color: #fff;
          display: block;
        }

        &.active { background-color: #e41317; }
        &:not(.active):hover { background-color: #74767b; transition: 0.2s linear 0s; }
      }
    }
  }

  #page-sidebar {    
    float: right;    
    width: 225px;
    margin-top: 81px;

    .controls {
      background-color: #e8e9ea;
      overflow: hidden;
      width: 100%;
      padding: 19px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;

      .producers {
        margin-top: -1px;
        .producers-checkboxes {
          margin-top: 10px;
        }
      }

      .to-show {
        margin-top: 17px;

        .to-show-checkboxes {
          margin-top: 10px;
        }
      }

      .price {
        margin-top: 13px;
      }

      .screen-type {
        margin-top: 14px;
      }

      .diagonal {
        margin-top: 23px;
      }

      .resolution {
        margin-top: 14px;
      }

      .other-options {
        margin-top: 14px;

        .other-options-checkboxes {
          margin-top: 10px;

          .checkbox-wraper {
            width: 100%;
            padding: 5px 0 4px 20px;
          }

          .checkbox-wraper:nth-child(n) {
            margin: 0;
          }
        }
      }

      .expand-button {
        margin-top: 13px;

        & > span {
          font-size: 11px;
          display: block;
          color: #42ace4;
          cursor: pointer;
          @include hover_color_red;

          .arrow {
            font-size: 6px;
            vertical-align: middle;
            cursor: pointer;
          }
        }
      }

      .show-reset-buttons {
        text-align: center;
        margin-top: 16px;

        .button {
          float: none;
          display: inline-block;
          width: 91px;
          height: 25px;
          margin: 1px;
          font-size: 11px;
          color: #fff;
          line-height: 25px;
          cursor: pointer;
        }

        .show-button {
          background-color: #e41317;
        }

        .reset-button {
          background-color: #cfcfcf;
        }
      }

      & > div {
        position: relative;
      }

      & > div:nth-child(n):after {
        background-color: #fff;
        content: "";
        display: block;
        height: 1px;
        margin-top: 16px;
        position: relative;
        width: 100%;
      }

      & > div:nth-last-child(1):after, & > div:nth-last-child(2):after {
        display: none;
      }
    }

    .present-box {
      width: 100%;
      position: relative;
      text-align: center;
      margin-bottom: 50px;

      .present-image {
        width: 142px;
        height: 97px;
        margin: 0 auto;
        display: block;
      }

      .present-text {
        background: #ea232a url("assets/logo2.png") no-repeat scroll 4px 41px;
        display: inline-block;
        height: 63px;
        margin-left: -3px;
        position: relative;
        width: 146px;

        .text1 {
          color: #fff;
          font-size: 16px;
          font-weight: lighter;
          margin-left: -3px;
          margin-top: 5px;
        }

        .text2 {
          color: #fff;
          font-size: 10px;
          letter-spacing: 0;
          margin-left: -3px;
        }

        .text3 {
          color: #fff;
          font-size: 6px;
          font-weight: lighter;
          margin-right: 4px;
          margin-top: 6px;
          text-align: right;
        }

        &:after {
          border-bottom: 7px solid #fff;
          border-left: 4px solid transparent;
          border-right: 0 solid transparent;
          content: "";
          display: block;
          float: right;
          height: 0;
          position: relative;
          top: 4px;
          width: 96px;
        }
      }
    }

    /* components */
      .block-header {
        font-size: 11px;
        color: #000000;
        text-align: left;
        display: block;
        font-weight: lighter;      
      }

      .aside-checkbox {
        display: inline-block;
        padding: 5px 0px 4.3px 20px;
        position: relative;
        width: calc(50% - 9px);
        box-sizing: border-box;
        -moz-box-sizing: border-box;

        &:nth-child(2n) { 
          margin-left: 8px;
        }

        &:nth-child(2n + 1) { 
          margin-right: 8px; 
        }

        input {
          display: none;
        }

        label {
          font-size: 11px;
          color: #000000;
          font-weight: lighter;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          display: block;
        }

        label:before {
          background-color: #fff;
          border: 1px solid #dddddd;
          border-radius: 2px;
          content: "";
          display: block;
          height: 10px;
          left: 0;
          position: absolute;
          width: 10px;
        }

        label:after {
          border-bottom: 2px solid #000;
          border-left: 2px solid #000;
          bottom: 3px;
          content: "";
          display: none;
          height: 3px;
          left: 2px;
          margin: auto;
          position: absolute;
          top: 0;
          transform: rotate(-45deg);
          width: 5px;
        }

        input:checked + label:after {
          display: block;
        }
      }

      .aside-range-slider {
        margin-top: 8px;

        .min-price, .max-price {
          font-size: 11px;
          width: calc(50% - 4px);
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 23px;
          padding: 0 8px;
          font-family: 'TruthCYR-Regular';
          box-shadow: none;
          border: 1px solid #dddddd;
          border-radius: 3px;
          outline: none;
        }

        .minus {
          color: #000;
          font-size: 11px;
          width: 7px;
          display: inline-block;
        }

        .slider {
          border: medium none;
          height: 2px;
          position: relative;
          margin-top: 6px;
          width: calc(100% - 8px);
        }

        .ui-slider-range {
          background: #e41317 none repeat scroll 0 0;
        }

        .ui-slider-handle {
          background: #000 none repeat scroll 0 0;
          border: medium none;
          border-radius: 50%;
          height: 7px;
          top: -3px;
          width: 7px;
        }
      }

      .aside-select {
        width: 100%;
        position: relative;


        .selected-option {
          font-size: 11px;
          font-family: 'TruthCYR-Regular';
          border: 1px solid #aaaaaa;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          outline: medium none;
          width: 100%;
          background: #fff url("assets/arrow.png") no-repeat scroll calc(100% - 8px) center / 6px auto;
          width: calc(100% - 2px);
          height: 23px;
          margin-top: 16px;
          padding: 0 8px;
        }

        .selected-option:focus + .all-options {
          display: block;
        }

        .all-options {
          background-color: #fff;
          border: 1px solid #aaa;
          height: auto;
          position: absolute;
          display: none;
          width: calc(100% - 2px);
          z-index: 10;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          top: 16px;

          .option {
            font-size: 11px;
            height: 21px;
            line-height: 21px;
            padding: 0 8px;

            &:hover {
              background-color: #bbb;
            }
          }
        }
      }
  }

  #page-content {
    overflow: hidden;
    margin-top: 27px;
    padding-right: 31px;

    .page-header {
      position: relative;

      &:after {
        background-color: #e6e6e6;
        bottom: -30px;
        content: "";
        display: block;
        height: 1px;
        position: relative;
        width: 100%;
      }

      .page-path {
        font-size: 11px;
        color: #737373;

        .path-part {
          color: #000;

          &:after {
            content: '/';
            margin: 0 1px;
            color: #777;
          }

          &:nth-last-child(1):after {
            display: none;
          }
        }
      }

      .main-header {
        font-size: 30px;
        color: #000;
        margin-left: -1px;
      }

      .sorting-order {
        display: inline-block;
        float: left;
        margin-top: 9px;
        margin-bottom: 25px;

        .sorting-title {
          font-size: 11px;
          color: #b8b8b8;
        }
      }

      .to-show-count {
        display: inline-block;
        float: right;
        margin-top: 9px;

        .to-show-title {
          font-size: 11px;
          color: #b8b8b8;
        }

        .all-options {
          margin-left: -32px;
        }
      }
    }

    .custom-select {
      display: inline-block;
      margin-left: 3px;

      .selected-option {
        font-size: 11px;
        color: #009de0;
      }

      .all-options {
        border: 1px solid #999;
        margin-left: -8px;
        position: absolute;
        width: auto;
        background-color: #fff;
        z-index: 1;

        .option {
          color: #009de0;
          font-size: 11px;
          line-height: 24px;
          cursor: pointer;
          padding: 0 8px;

          &:hover { background-color: #e5e5e5; }
          @include hover_color_red;
        }
      }
    }

  }

  #page-footer {
    border-top: 1px solid #dbdbdb;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 189px;
    padding-top: 27px;
    position: absolute;
    width: 100%;

    .static-part {
      float: right;

      .social-links {
        display: inline-block;
        float: left;
        margin-right: 40px;
        width: 120px;

        .social-link {
          display: inline-block;
          padding: 0 3px 11px;

          & > a { 
            color: #000;
            height: 23px;
            width: 23px;
            background: url('assets/social-sprites.png');
            display: block;
          }

          &.vk > a { background-position: 0px 0px }
          &.twitter > a { background-position: -29px 0; }
          &.facebook > a { background-position: -58px 0; }
          &.odclass > a { background-position: -87px 0; }
          &.googpl > a { background-position: 0 24px; }
          &.youtube > a { background-position: -29px 24px; }
          &.unknown > a { background-position: -58px 24px; }
          &.instagram > a { background-position: -87px 24px; }
        }
      }

      .phone-info {
        display: inline-block;
        float: left;
        width: 230px;

        .phone1 {
          margin-top: -3px;

          .short-number {
            color: #000000;
            display: inline-block;
            font-size: 16px;
            padding-left: 16px;
            position: relative;
            margin-left: 5px;
            @include after_separator;
            &:after { right: -18px; }

            &:before {
              background: transparent url("assets/sprites.png") no-repeat scroll center -227px;
              bottom: 0;
              content: "";
              display: block;
              height: 13px;
              left: 0;
              margin: auto 0;
              position: absolute;
              top: 1px;
              width: 12px;
            }
          }

          .long-number {
            display: inline-block;
            position: relative;
            color: #000;
            font-size: 16px;
            margin-left: 31px;
          }

          .info {
            color: #9b9da3;
            display: inline-block;
            font-size: 11px;
            font-weight: lighter;
            margin-left: 4px;
            margin-top: 1px;
          }
        }

        .phone2 {
          margin-top: 13px;

          .long-number {
            display: inline-block;
            margin-left: 2px;
            position: relative;
            color: #000;
            font-size: 16px;
          }

          .info {
            color: #9b9da3;
            display: inline-block;
            font-size: 11px;
            font-weight: lighter;
            margin-left: 3px;
            margin-top: 1px;
          }
        }

        .time-info {
          color: rgba(0, 0, 0, 0.7);
          display: inline-block;
          font-size: 11px;
          font-weight: lighter;
          line-height: 13px;
          margin-left: 3px;
          margin-top: 16px;
        }
      }
    }

    .other-info {
      overflow: hidden;

      .internal-links {
        color: #000;

        .internal-link {
          display: inline-block;
          height: 25px;
          padding-right: 19px;

          & > a {
            font-size: 11px;
            color: rgb(0, 157, 224);
            @include hover_color_red;
          }
        }
      }

      .company-info {
        font-size: 11px;
        margin-top: 13px;
        line-height: 13px;
        color: rgba(0, 0, 0, 0.702);
      }

      .payment-info {
        margin-top: 17px;

        .payment-option {
          display: inline-block;

          & > a {
            height: 30px;
            background: url('assets/payment-sprites.png');
            display: block;
          }

          &.visa > a { 
            background-position: 0px 0px;
            width: 32px;
          }

          &.vervisa > a { 
            background-position: -32px 0; 
            width: 32px;
          }

          &.mcard > a { 
            background-position: -64px 0; 
            width: 35px;
          }

          &.mcards > a { 
            background-position: -100px 0;
            width: 32px;
          }

          &.belcard > a { 
            background-position: -132px 0;
            width: 36px;
          }

          &.easypay > a { 
            background-position: -168px 0;
            width: 53px;
          }

          &.raschet > a { 
            background-position: 38px 0;
            width: 38px;
          }
        }
      }
    }
  }
