/* mixins */
/* general */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'TruthCYR-Regular';
  font-size: 0; }

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'TruthCYR-Regular';
  src: url("assets/TruthCYR_Regular/TruthCYR-Regular.eot?#iefix") format("embedded-opentype"), url("assets/TruthCYR_Regular/TruthCYR-Regular.otf") format("opentype"), url("assets/TruthCYR_Regular/TruthCYR-Regular.woff") format("woff"), url("assets/TruthCYR_Regular/TruthCYR-Regular.ttf") format("truetype"), url("assets/TruthCYR_Regular/TruthCYR-Regular.svg#TruthCYR-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* page elements */
#page-container {
  margin: 0 auto;
  width: 991px;
  position: relative;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 189px;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

#page-header .header-content {
  overflow: hidden; }
  #page-header .header-content .header-left {
    float: left;
    width: 457px;
    padding-top: 4px; }
    #page-header .header-content .header-left .header-logo {
      float: left;
      height: 50px;
      margin-left: 1px;
      width: 100px;
      border: none; }
    #page-header .header-content .header-left .call-info {
      overflow: hidden; }
      #page-header .header-content .header-left .call-info .call-title {
        color: #9b9da3;
        display: inline-block;
        font-size: 11px;
        font-weight: lighter;
        margin-left: 27px;
        margin-top: 4px; }
      #page-header .header-content .header-left .call-info .call-content {
        display: inline-block;
        margin-left: 26px;
        margin-top: 4px;
        position: relative; }
        #page-header .header-content .header-left .call-info .call-content .call-short-number {
          color: #000000;
          display: inline-block;
          font-size: 16px;
          padding-left: 18px;
          position: relative; }
          #page-header .header-content .header-left .call-info .call-content .call-short-number:after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 21px;
            width: 1px;
            background-color: #e6e6e6;
            margin: auto;
            right: 0;
            top: 0;
            bottom: 0; }
          #page-header .header-content .header-left .call-info .call-content .call-short-number:after {
            right: -11px; }
          #page-header .header-content .header-left .call-info .call-content .call-short-number:before {
            background: transparent url("assets/sprites.png") no-repeat scroll center -227px;
            bottom: 0;
            content: "";
            display: block;
            height: 13px;
            left: 0;
            margin: auto 0;
            position: absolute;
            top: 0;
            width: 12px; }
        #page-header .header-content .header-left .call-info .call-content .call-long-number {
          display: inline-block;
          margin-left: 19px;
          position: relative; }
          #page-header .header-content .header-left .call-info .call-content .call-long-number:after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 21px;
            width: 1px;
            background-color: #e6e6e6;
            margin: auto;
            right: 0;
            top: 0;
            bottom: 0; }
          #page-header .header-content .header-left .call-info .call-content .call-long-number:after {
            right: -11px; }
          #page-header .header-content .header-left .call-info .call-content .call-long-number .call-number-code {
            color: #9b9da3;
            font-size: 11px; }
          #page-header .header-content .header-left .call-info .call-content .call-long-number .call-number-main {
            color: #000;
            font-size: 16px;
            margin-left: 2px; }
        #page-header .header-content .header-left .call-info .call-content .call-link {
          bottom: 2px;
          display: inline-block;
          font-weight: lighter;
          margin-left: 23px;
          position: relative; }
          #page-header .header-content .header-left .call-info .call-content .call-link > a {
            font-size: 11px;
            color: #009de0;
            cursor: pointer; }
            #page-header .header-content .header-left .call-info .call-content .call-link > a:hover {
              color: #e41317;
              transition: 0.2s linear 0s; }
  #page-header .header-content .header-right {
    overflow: hidden; }
    #page-header .header-content .header-right .header-links {
      color: #000;
      padding-right: 164px;
      text-align: right; }
      #page-header .header-content .header-right .header-links .header-link > a {
        color: #009de0;
        font-size: 11px;
        margin: 0 9.5px;
        cursor: pointer; }
        #page-header .header-content .header-right .header-links .header-link > a:hover {
          color: #e41317;
          transition: 0.2s linear 0s; }
    #page-header .header-content .header-right .search-and-order {
      margin-top: 8px; }
      #page-header .header-content .header-right .search-and-order .search-field-wraper {
        overflow: hidden;
        position: relative; }
        #page-header .header-content .header-right .search-and-order .search-field-wraper .search-field {
          font-size: 11px;
          width: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 29px;
          padding: 0 31px 0 8px;
          font-family: 'TruthCYR-Regular';
          box-shadow: none;
          border: 1px solid #dddddd;
          border-radius: 3px;
          outline: none; }
          #page-header .header-content .header-right .search-and-order .search-field-wraper .search-field::-webkit-inpbt-placeholder {
            color: #b8b8b8; }
          #page-header .header-content .header-right .search-and-order .search-field-wraper .search-field:-moz-placeholder {
            color: #b8b8b8;
            opacity: 1; }
          #page-header .header-content .header-right .search-and-order .search-field-wraper .search-field::-moz-placeholder {
            color: #b8b8b8;
            opacity: 1; }
          #page-header .header-content .header-right .search-and-order .search-field-wraper .search-field:-ms-input-placeholder {
            color: #b8b8b8; }
        #page-header .header-content .header-right .search-and-order .search-field-wraper .serach-button {
          background: url("assets/sprites.png") no-repeat scroll center -193px transparent;
          bottom: 0;
          height: 28px;
          position: absolute;
          right: 0;
          top: 0;
          width: 30px;
          cursor: pointer; }
      #page-header .header-content .header-right .search-and-order .order-buttons {
        float: right;
        margin-left: 11px;
        margin-right: 10px; }
        #page-header .header-content .header-right .search-and-order .order-buttons .order-button {
          display: inline-block;
          height: 30px;
          margin: 0 5px;
          position: relative;
          width: 40px;
          cursor: pointer; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button:after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 21px;
            width: 1px;
            background-color: #e6e6e6;
            margin: auto;
            right: 0;
            top: 0;
            bottom: 0; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button.active .order-button-circle {
            background-color: #E41317;
            border-radius: 50%;
            bottom: 1px;
            color: #FFFFFF;
            display: block;
            font-size: 11px;
            height: 17px;
            line-height: 17px;
            position: absolute;
            right: 1px;
            text-align: center;
            width: 17px; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button:not(.active) .order-button-circle {
            display: none; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button:after {
            bottom: 2px;
            right: -4px; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button:nth-last-child(1):after {
            display: none; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button.profile {
            background: transparent url("assets/sprites.png") no-repeat scroll center -1px; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button.profile:hover {
            background-position: center -31px; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button.weighter {
            background: transparent url("assets/sprites.png") no-repeat scroll center -63px; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button.weighter.active {
            background-position: center -97px; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button.buy {
            background: transparent url("assets/sprites.png") no-repeat scroll center -130px; }
          #page-header .header-content .header-right .search-and-order .order-buttons .order-button.buy.active {
            background-position: center -163px; }
#page-header #top-menu {
  background-color: #5c5e64;
  display: table;
  height: 41px;
  margin-top: 11px;
  padding: 0 9px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
  #page-header #top-menu .top-menu-element {
    display: table-cell;
    font-size: 13px;
    height: 100%;
    line-height: 41px;
    text-align: center;
    transition: 0.2s linear 0s; }
    #page-header #top-menu .top-menu-element > a {
      color: #fff;
      display: block; }
    #page-header #top-menu .top-menu-element.active {
      background-color: #e41317; }
    #page-header #top-menu .top-menu-element:not(.active):hover {
      background-color: #74767b;
      transition: 0.2s linear 0s; }

#page-sidebar {
  float: right;
  width: 225px;
  margin-top: 81px;
  /* components */ }
  #page-sidebar .controls {
    background-color: #e8e9ea;
    overflow: hidden;
    width: 100%;
    padding: 19px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    #page-sidebar .controls .producers {
      margin-top: -1px; }
      #page-sidebar .controls .producers .producers-checkboxes {
        margin-top: 10px; }
    #page-sidebar .controls .to-show {
      margin-top: 17px; }
      #page-sidebar .controls .to-show .to-show-checkboxes {
        margin-top: 10px; }
    #page-sidebar .controls .price {
      margin-top: 13px; }
    #page-sidebar .controls .screen-type {
      margin-top: 14px; }
    #page-sidebar .controls .diagonal {
      margin-top: 23px; }
    #page-sidebar .controls .resolution {
      margin-top: 14px; }
    #page-sidebar .controls .other-options {
      margin-top: 14px; }
      #page-sidebar .controls .other-options .other-options-checkboxes {
        margin-top: 10px; }
        #page-sidebar .controls .other-options .other-options-checkboxes .checkbox-wraper {
          width: 100%;
          padding: 5px 0 4px 20px; }
        #page-sidebar .controls .other-options .other-options-checkboxes .checkbox-wraper:nth-child(n) {
          margin: 0; }
    #page-sidebar .controls .expand-button {
      margin-top: 13px; }
      #page-sidebar .controls .expand-button > span {
        font-size: 11px;
        display: block;
        color: #42ace4;
        cursor: pointer;
        cursor: pointer; }
        #page-sidebar .controls .expand-button > span:hover {
          color: #e41317;
          transition: 0.2s linear 0s; }
        #page-sidebar .controls .expand-button > span .arrow {
          font-size: 6px;
          vertical-align: middle;
          cursor: pointer; }
    #page-sidebar .controls .show-reset-buttons {
      text-align: center;
      margin-top: 16px; }
      #page-sidebar .controls .show-reset-buttons .button {
        float: none;
        display: inline-block;
        width: 91px;
        height: 25px;
        margin: 1px;
        font-size: 11px;
        color: #fff;
        line-height: 25px;
        cursor: pointer; }
      #page-sidebar .controls .show-reset-buttons .show-button {
        background-color: #e41317; }
      #page-sidebar .controls .show-reset-buttons .reset-button {
        background-color: #cfcfcf; }
    #page-sidebar .controls > div {
      position: relative; }
    #page-sidebar .controls > div:nth-child(n):after {
      background-color: #fff;
      content: "";
      display: block;
      height: 1px;
      margin-top: 16px;
      position: relative;
      width: 100%; }
    #page-sidebar .controls > div:nth-last-child(1):after, #page-sidebar .controls > div:nth-last-child(2):after {
      display: none; }
  #page-sidebar .present-box {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 50px; }
    #page-sidebar .present-box .present-image {
      width: 142px;
      height: 97px;
      margin: 0 auto;
      display: block; }
    #page-sidebar .present-box .present-text {
      background: #ea232a url("assets/logo2.png") no-repeat scroll 4px 41px;
      display: inline-block;
      height: 63px;
      margin-left: -3px;
      position: relative;
      width: 146px; }
      #page-sidebar .present-box .present-text .text1 {
        color: #fff;
        font-size: 16px;
        font-weight: lighter;
        margin-left: -3px;
        margin-top: 5px; }
      #page-sidebar .present-box .present-text .text2 {
        color: #fff;
        font-size: 10px;
        letter-spacing: 0;
        margin-left: -3px; }
      #page-sidebar .present-box .present-text .text3 {
        color: #fff;
        font-size: 6px;
        font-weight: lighter;
        margin-right: 4px;
        margin-top: 6px;
        text-align: right; }
      #page-sidebar .present-box .present-text:after {
        border-bottom: 7px solid #fff;
        border-left: 4px solid transparent;
        border-right: 0 solid transparent;
        content: "";
        display: block;
        float: right;
        height: 0;
        position: relative;
        top: 4px;
        width: 96px; }
  #page-sidebar .block-header {
    font-size: 11px;
    color: #000000;
    text-align: left;
    display: block;
    font-weight: lighter; }
  #page-sidebar .aside-checkbox {
    display: inline-block;
    padding: 5px 0px 4.3px 20px;
    position: relative;
    width: calc(50% - 9px);
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    #page-sidebar .aside-checkbox:nth-child(2n) {
      margin-left: 8px; }
    #page-sidebar .aside-checkbox:nth-child(2n + 1) {
      margin-right: 8px; }
    #page-sidebar .aside-checkbox input {
      display: none; }
    #page-sidebar .aside-checkbox label {
      font-size: 11px;
      color: #000000;
      font-weight: lighter;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      display: block; }
    #page-sidebar .aside-checkbox label:before {
      background-color: #fff;
      border: 1px solid #dddddd;
      border-radius: 2px;
      content: "";
      display: block;
      height: 10px;
      left: 0;
      position: absolute;
      width: 10px; }
    #page-sidebar .aside-checkbox label:after {
      border-bottom: 2px solid #000;
      border-left: 2px solid #000;
      bottom: 3px;
      content: "";
      display: none;
      height: 3px;
      left: 2px;
      margin: auto;
      position: absolute;
      top: 0;
      transform: rotate(-45deg);
      width: 5px; }
    #page-sidebar .aside-checkbox input:checked + label:after {
      display: block; }
  #page-sidebar .aside-range-slider {
    margin-top: 8px; }
    #page-sidebar .aside-range-slider .min-price, #page-sidebar .aside-range-slider .max-price {
      font-size: 11px;
      width: calc(50% - 4px);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 23px;
      padding: 0 8px;
      font-family: 'TruthCYR-Regular';
      box-shadow: none;
      border: 1px solid #dddddd;
      border-radius: 3px;
      outline: none; }
    #page-sidebar .aside-range-slider .minus {
      color: #000;
      font-size: 11px;
      width: 7px;
      display: inline-block; }
    #page-sidebar .aside-range-slider .slider {
      border: medium none;
      height: 2px;
      position: relative;
      margin-top: 6px;
      width: calc(100% - 8px); }
    #page-sidebar .aside-range-slider .ui-slider-range {
      background: #e41317 none repeat scroll 0 0; }
    #page-sidebar .aside-range-slider .ui-slider-handle {
      background: #000 none repeat scroll 0 0;
      border: medium none;
      border-radius: 50%;
      height: 7px;
      top: -3px;
      width: 7px; }
  #page-sidebar .aside-select {
    width: 100%;
    position: relative; }
    #page-sidebar .aside-select .selected-option {
      font-size: 11px;
      font-family: 'TruthCYR-Regular';
      border: 1px solid #aaaaaa;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: medium none;
      width: 100%;
      background: #fff url("assets/arrow.png") no-repeat scroll calc(100% - 8px) center/6px auto;
      width: calc(100% - 2px);
      height: 23px;
      margin-top: 16px;
      padding: 0 8px; }
    #page-sidebar .aside-select .selected-option:focus + .all-options {
      display: block; }
    #page-sidebar .aside-select .all-options {
      background-color: #fff;
      border: 1px solid #aaa;
      height: auto;
      position: absolute;
      display: none;
      width: calc(100% - 2px);
      z-index: 10;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      top: 16px; }
      #page-sidebar .aside-select .all-options .option {
        font-size: 11px;
        height: 21px;
        line-height: 21px;
        padding: 0 8px; }
        #page-sidebar .aside-select .all-options .option:hover {
          background-color: #bbb; }

#page-content {
  overflow: hidden;
  margin-top: 27px;
  padding-right: 31px; }
  #page-content .page-header {
    position: relative;
    margin-bottom: 50px; }
    #page-content .page-header:after {
      background-color: #e6e6e6;
      bottom: -30px;
      content: "";
      display: block;
      height: 1px;
      position: relative;
      width: 100%; }
    #page-content .page-header .page-path {
      font-size: 11px;
      color: #737373; }
      #page-content .page-header .page-path .path-part {
        color: #000; }
        #page-content .page-header .page-path .path-part:after {
          content: '/';
          margin: 0 1px;
          color: #777; }
        #page-content .page-header .page-path .path-part:nth-last-child(1):after {
          display: none; }
    #page-content .page-header .main-header {
      font-size: 30px;
      color: #000;
      margin-left: -1px; }
    #page-content .page-header .sorting-order {
      display: inline-block;
      float: left;
      margin-top: 9px;
      margin-bottom: 25px; }
      #page-content .page-header .sorting-order .sorting-title {
        font-size: 11px;
        color: #b8b8b8; }
    #page-content .page-header .to-show-count {
      display: inline-block;
      float: right;
      margin-top: 9px; }
      #page-content .page-header .to-show-count .to-show-title {
        font-size: 11px;
        color: #b8b8b8; }
      #page-content .page-header .to-show-count .all-options {
        margin-left: -32px; }
  #page-content .page-products {
    text-align: center; }
    #page-content .page-products .product {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      display: inline-block;
      height: 250px;
      position: relative;
      width: calc(33% - 18px);
      vertical-align: top; }
      #page-content .page-products .product:nth-child(3n+1) {
        float: left; }
      #page-content .page-products .product:nth-child(3n+2) {
        float: none; }
      #page-content .page-products .product:nth-child(3n+3) {
        float: right; }
      #page-content .page-products .product .sign {
        border-radius: 2px;
        color: #fff;
        display: inline-block;
        font-size: 11px;
        left: 1px;
        padding: 1px 6px;
        position: absolute;
        top: 22px;
        width: auto; }
      #page-content .page-products .product .acton {
        background-color: #e41317; }
      #page-content .page-products .product .preorder {
        background-color: #25950b; }
      #page-content .page-products .product .new {
        background-color: #950b90; }
      #page-content .page-products .product .product-image {
        float: left;
        height: 190px;
        width: 100px; }
        #page-content .page-products .product .product-image img {
          width: auto; }
      #page-content .page-products .product .product-right-side {
        overflow: hidden;
        padding-left: 8px;
        padding-top: 10px;
        width: auto; }
        #page-content .page-products .product .product-right-side h2 {
          text-align: left; }
          #page-content .page-products .product .product-right-side h2 a {
            font-size: 16px;
            color: #009de0;
            line-height: 18px;
            text-align: left; }
        #page-content .page-products .product .product-right-side .thats-my-red-star {
          background: url("assets/stars-background.jpg") no-repeat scroll 0 0 transparent;
          height: 13px;
          margin-left: -2px;
          margin-top: 6px;
          width: 65px; }
          #page-content .page-products .product .product-right-side .thats-my-red-star .stars {
            background: url("assets/stars.png") no-repeat scroll 0 0 transparent;
            height: 13px;
            width: 65px; }
        #page-content .page-products .product .product-right-side .product-options {
          text-align: left;
          margin-top: 15px; }
          #page-content .page-products .product .product-right-side .product-options .product-option {
            font-size: 11px;
            color: #000;
            margin-top: 4.5px; }
      #page-content .page-products .product .product-price-and-buttons {
        float: left;
        padding-left: 8px;
        width: 100%; }
        #page-content .page-products .product .product-price-and-buttons:after {
          background-color: #e6e6e6;
          bottom: -40px;
          content: "";
          display: block;
          height: 1px;
          position: relative;
          right: 6px;
          width: 100%; }
        #page-content .page-products .product .product-price-and-buttons .price {
          color: #000;
          display: inline-block;
          float: left;
          font-size: 16px;
          margin-left: 6px;
          margin-top: 7px;
          text-align: left; }
        #page-content .page-products .product .product-price-and-buttons .weighter {
          background: transparent url("assets/sprites.png") no-repeat scroll center -63px/27px auto;
          cursor: pointer;
          display: inline-block;
          float: right;
          height: 30px;
          margin-top: 5px;
          position: relative;
          width: 35px; }
          #page-content .page-products .product .product-price-and-buttons .weighter:hover {
            background-position: center -96px; }
        #page-content .page-products .product .product-price-and-buttons .buy {
          background: transparent url("assets/sprites.png") no-repeat scroll center -130px;
          cursor: pointer;
          display: inline-block;
          float: right;
          height: 30px;
          margin: 3px 12px 0 0;
          position: relative;
          width: 35px; }
          #page-content .page-products .product .product-price-and-buttons .buy:hover {
            background-position: center -163px; }
        #page-content .page-products .product .product-price-and-buttons .price-currency {
          font-size: 11px;
          color: #737373;
          display: inline-block;
          float: left;
          margin-left: 5px;
          margin-top: 12px; }
      #page-content .page-products .product .old-price {
        background: transparent url("assets/red_dot.jpg") repeat-x scroll 0 50%;
        color: #e41317;
        display: inline-block;
        float: left;
        font-size: 11px;
        margin-left: 14px;
        margin-top: -10px;
        text-align: left; }
  #page-content .custom-select {
    display: inline-block;
    margin-left: 3px; }
    #page-content .custom-select .selected-option {
      font-size: 11px;
      color: #009de0;
      cursor: pointer; }
    #page-content .custom-select .all-options {
      border: 1px solid #999;
      margin-left: -8px;
      position: absolute;
      width: auto;
      background-color: #fff;
      z-index: 1; }
      #page-content .custom-select .all-options .option {
        color: #009de0;
        font-size: 11px;
        line-height: 24px;
        cursor: pointer;
        padding: 0 8px;
        cursor: pointer; }
        #page-content .custom-select .all-options .option:hover {
          background-color: #e5e5e5; }
        #page-content .custom-select .all-options .option:hover {
          color: #e41317;
          transition: 0.2s linear 0s; }

#page-footer {
  border-top: 1px solid #dbdbdb;
  bottom: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 189px;
  padding-top: 27px;
  position: absolute;
  width: 100%; }
  #page-footer .static-part {
    float: right; }
    #page-footer .static-part .social-links {
      display: inline-block;
      float: left;
      margin-right: 40px;
      width: 120px; }
      #page-footer .static-part .social-links .social-link {
        display: inline-block;
        padding: 0 3px 11px; }
        #page-footer .static-part .social-links .social-link > a {
          color: #000;
          height: 23px;
          width: 23px;
          background: url("assets/social-sprites.png");
          display: block; }
        #page-footer .static-part .social-links .social-link.vk > a {
          background-position: 0px 0px; }
        #page-footer .static-part .social-links .social-link.twitter > a {
          background-position: -29px 0; }
        #page-footer .static-part .social-links .social-link.facebook > a {
          background-position: -58px 0; }
        #page-footer .static-part .social-links .social-link.odclass > a {
          background-position: -87px 0; }
        #page-footer .static-part .social-links .social-link.googpl > a {
          background-position: 0 24px; }
        #page-footer .static-part .social-links .social-link.youtube > a {
          background-position: -29px 24px; }
        #page-footer .static-part .social-links .social-link.unknown > a {
          background-position: -58px 24px; }
        #page-footer .static-part .social-links .social-link.instagram > a {
          background-position: -87px 24px; }
    #page-footer .static-part .phone-info {
      display: inline-block;
      float: left;
      width: 230px; }
      #page-footer .static-part .phone-info .phone1 {
        margin-top: -3px; }
        #page-footer .static-part .phone-info .phone1 .short-number {
          color: #000000;
          display: inline-block;
          font-size: 16px;
          padding-left: 16px;
          position: relative;
          margin-left: 5px; }
          #page-footer .static-part .phone-info .phone1 .short-number:after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 21px;
            width: 1px;
            background-color: #e6e6e6;
            margin: auto;
            right: 0;
            top: 0;
            bottom: 0; }
          #page-footer .static-part .phone-info .phone1 .short-number:after {
            right: -18px; }
          #page-footer .static-part .phone-info .phone1 .short-number:before {
            background: transparent url("assets/sprites.png") no-repeat scroll center -227px;
            bottom: 0;
            content: "";
            display: block;
            height: 13px;
            left: 0;
            margin: auto 0;
            position: absolute;
            top: 1px;
            width: 12px; }
        #page-footer .static-part .phone-info .phone1 .long-number {
          display: inline-block;
          position: relative;
          color: #000;
          font-size: 16px;
          margin-left: 31px; }
        #page-footer .static-part .phone-info .phone1 .info {
          color: #9b9da3;
          display: inline-block;
          font-size: 11px;
          font-weight: lighter;
          margin-left: 4px;
          margin-top: 1px; }
      #page-footer .static-part .phone-info .phone2 {
        margin-top: 13px; }
        #page-footer .static-part .phone-info .phone2 .long-number {
          display: inline-block;
          margin-left: 2px;
          position: relative;
          color: #000;
          font-size: 16px; }
        #page-footer .static-part .phone-info .phone2 .info {
          color: #9b9da3;
          display: inline-block;
          font-size: 11px;
          font-weight: lighter;
          margin-left: 3px;
          margin-top: 1px; }
      #page-footer .static-part .phone-info .time-info {
        color: rgba(0, 0, 0, 0.7);
        display: inline-block;
        font-size: 11px;
        font-weight: lighter;
        line-height: 13px;
        margin-left: 3px;
        margin-top: 16px; }
  #page-footer .other-info {
    overflow: hidden; }
    #page-footer .other-info .internal-links {
      color: #000; }
      #page-footer .other-info .internal-links .internal-link {
        display: inline-block;
        height: 25px;
        padding-right: 19px; }
        #page-footer .other-info .internal-links .internal-link > a {
          font-size: 11px;
          color: #009de0;
          cursor: pointer; }
          #page-footer .other-info .internal-links .internal-link > a:hover {
            color: #e41317;
            transition: 0.2s linear 0s; }
    #page-footer .other-info .company-info {
      font-size: 11px;
      margin-top: 13px;
      line-height: 13px;
      color: rgba(0, 0, 0, 0.702); }
    #page-footer .other-info .payment-info {
      margin-top: 17px; }
      #page-footer .other-info .payment-info .payment-option {
        display: inline-block; }
        #page-footer .other-info .payment-info .payment-option > a {
          height: 30px;
          background: url("assets/payment-sprites.png");
          display: block; }
        #page-footer .other-info .payment-info .payment-option.visa > a {
          background-position: 0px 0px;
          width: 32px; }
        #page-footer .other-info .payment-info .payment-option.vervisa > a {
          background-position: -32px 0;
          width: 32px; }
        #page-footer .other-info .payment-info .payment-option.mcard > a {
          background-position: -64px 0;
          width: 35px; }
        #page-footer .other-info .payment-info .payment-option.mcards > a {
          background-position: -100px 0;
          width: 32px; }
        #page-footer .other-info .payment-info .payment-option.belcard > a {
          background-position: -132px 0;
          width: 36px; }
        #page-footer .other-info .payment-info .payment-option.easypay > a {
          background-position: -168px 0;
          width: 53px; }
        #page-footer .other-info .payment-info .payment-option.raschet > a {
          background-position: 38px 0;
          width: 38px; }

/*# sourceMappingURL=index.css.map */
