/* mixins */
  @mixin vertical_centering {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @mixin after_separator {
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      height: 21px;
      width: 1px;
      background-color: #e6e6e6;
      margin: auto;
      right:0;
      top: 0;
      bottom: 0;
    }
  }

  @mixin hover_color_red {
    cursor: pointer;
    &:hover {
      color: #e41317;
    }
  }

  @mixin hover_background_red {
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: #e41317;
    }
  }
/* general */
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'TruthCYR-Regular';
    font-size: 0;
  }

  h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal; 
  }

  a {
    text-decoration: none;
  }

  @font-face {
    font-family: 'TruthCYR-Regular';
    src: url('assets/TruthCYR_Regular/TruthCYR-Regular.eot?#iefix') format('embedded-opentype'),  
         url('assets/TruthCYR_Regular/TruthCYR-Regular.otf')  format('opentype'),
         url('assets/TruthCYR_Regular/TruthCYR-Regular.woff') format('woff'), 
         url('assets/TruthCYR_Regular/TruthCYR-Regular.ttf')  format('truetype'), 
         url('assets/TruthCYR_Regular/TruthCYR-Regular.svg#TruthCYR-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/* page elements */
  #page-container {
      margin: 0 auto;
      width: 991px;
      position: relative;
      min-height: 100%;
      padding-top: 20px;
      padding-bottom: 189px;
      overflow: hidden;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
  }

  #page-header {   

    .header-content {
      overflow: hidden;

      .header-left {
        float: left;
        width: 457px;
        padding-top: 4px;

        .header-logo {
          float: left;
          height: 50px;
          margin-left: 1px;
          width: 100px;
          border: none;
        }

        .call-info {
          overflow: hidden; 

          .call-title {
            color: #9b9da3;
            display: inline-block;
            font-size: 11px;
            font-weight: lighter;
            margin-left: 27px;
            margin-top: 4px;
          }

          .call-content {
            display: inline-block;
            margin-left: 26px;
            margin-top: 4px;
            position: relative;

            .call-short-number {
              color: #000000;
              display: inline-block;
              font-size: 16px;
              padding-left: 18px;
              position: relative;
              @include after_separator;
              &:after { right: -11px; }

              &:before {
                background: transparent url("assets/sprites.png") no-repeat scroll center -227px;
                bottom: 0;
                content: "";
                display: block;
                height: 13px;
                left: 0;
                margin: auto 0;
                position: absolute;
                top: 0;
                width: 12px;
              }
            }

            .call-long-number {
              display: inline-block;
              margin-left: 19px;
              position: relative;
              @include after_separator;
              &:after { right: -11px; }

              .call-number-code {
                color: #9b9da3;
                font-size: 11px;               
              }

              .call-number-main {
                color: #000;
                font-size: 16px;
                margin-left: 2px;           
              }
            }

            .call-link {
              bottom: 2px;
              display: inline-block;
              font-weight: lighter;
              margin-left: 23px;
              position: relative;

              & > a {
                font-size: 11px;
                color: rgb(0, 157, 224);
                @include hover_color_red;
              }
            }
          }
        }
      }

      .header-right {
        overflow: hidden;
        .header-links {
          color: #000;
          padding-right: 164px;
          text-align: right;

          .header-link {
            & > a {
              color: #009de0;
              font-size: 11px;
              margin: 0 9.5px;
              @include hover_color_red;
            }
          }
        }

        .search-and-order {
          margin-top: 8px;

          .search-field-wraper {
            overflow: hidden;
            position: relative;

            .search-field {
              font-size: 11px;
              width: 100%;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              height: 29px;
              padding: 0 31px 0 8px;
              font-family: 'TruthCYR-Regular';
              box-shadow: none;
              border: 1px solid #dddddd;
              border-radius: 3px;
              outline: none;
              &::-webkit-inpbt-placeholder { color: #b8b8b8; }
              &:-moz-placeholder { color: #b8b8b8; opacity:  1; }
              &::-moz-placeholder { color: #b8b8b8; opacity:  1; }
              &:-ms-input-placeholder { color: #b8b8b8; }
            }

            .serach-button {
              background: url("assets/sprites.png") no-repeat scroll center -193px rgba(0, 0, 0, 0);
              bottom: 0;
              height: 28px;
              position: absolute;
              right: 0;
              top: 0;
              width: 30px;
              cursor: pointer;
            }
          }

          .order-buttons {
            float: right;
            margin-left: 11px;
            margin-right: 10px;

            .order-button {
              display: inline-block;
              height: 30px;
              margin: 0 5px;
              position: relative;
              width: 40px;
              cursor: pointer;
              @include after_separator;

              &.active .order-button-circle {
                background-color: #E41317;
                border-radius: 50%;
                bottom: 1px;
                color: #FFFFFF;
                display: block;
                font-size: 11px;
                height: 17px;
                line-height: 17px;
                position: absolute;
                right: 1px;
                text-align: center;
                width: 17px;
              }

              &:not(.active) .order-button-circle {
                display: none;
              }

              &:after { 
                bottom: 2px;
                right: -4px;
              }

              &:nth-last-child(1):after { display: none; }
              &.profile { background: transparent url("assets/sprites.png") no-repeat scroll center -1px }
              &.profile:hover { background-position: center -31px }
              &.weighter { background: transparent url("assets/sprites.png") no-repeat scroll center -63px }
              &.weighter.active { background-position: center -97px }
              &.buy { background: transparent url("assets/sprites.png") no-repeat scroll center -130px }
              &.buy.active { background-position: center -163px }              
            }
          }
        }
      }
    }

    #top-menu {
      background-color: #5c5e64;
      display: table;
      height: 41px;
      margin-top: 11px;
      padding: 0 9px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;

      .top-menu-element {
        display: table-cell;
        font-size: 13px;
        height: 100%;
        line-height: 41px;
        text-align: center;

        & > a {
          color: #fff;
          display: block;
        }

        &.active { background-color: #e41317; }
        &:not(.active):hover { background-color: #74767b; }
      }
    }
  }

  #page-sidebar {
    background-color: #e8e9ea;
    float: right;
    padding: 10px;
    width: 226px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    .producers {
      .producers-checkboxes {
        color: #000;
      }
    }

    .to-show {
      color: #000;

      .to-show-checkboxes {
        color: #000;
      }
    }

    .price {

      .slider-wraper {
        margin-top: 10px;

        .min-price, .max-price {
          font-size: 11px;
          width: 48%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 29px;
          padding: 0 31px 0 8px;
          font-family: 'TruthCYR-Regular';
          box-shadow: none;
          border: 1px solid #dddddd;
          border-radius: 3px;
          outline: none;
        }

        .minus {
          color: #000;
          font-size: 11px;
          width: 4%;
        }

        .price-slider {
          margin-top: 10px;
        }
      }
    }

    .screen-type {
      width: auto;

      h3 {
        font-size: 11px;
        color: #000000;
        text-align: left;
        display: block;
        font-weight: bold;
      }

      .select-wraper {
        
      }
    }

    .diagonal {

    }

    .block-header {
      font-size: 11px;
      color: #000000;
      text-align: left;
      display: block;
      font-weight: bold;
    }

    .aside-checkbox {
      display: inline-block;
      padding: 10px 10px 10px 20px;
      position: relative;
      width: 50%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;

      input {
        display: none;
      }

      label {
        font-size: 11px;
        color: #000000;
        font-weight: lighter;
      }

      label:before {
        background-color: #fff;
        border: 1px solid #dddddd;
        border-radius: 2px;
        content: "";
        display: block;
        height: 10px;
        left: 0;
        position: absolute;
        width: 10px;
      }

      label:after {
        border-bottom: 2px solid #000;
        border-left: 2px solid #000;
        bottom: 3px;
        content: "";
        display: none;
        height: 3px;
        left: 2px;
        margin: auto;
        position: absolute;
        top: 0;
        transform: rotate(-45deg);
        width: 5px;
      }

      input:checked + label:after {
        display: block;
      }
    }

    .aside-range-slider {
      border: medium none;
      height: 2px;
      position: relative;

      .ui-slider-range {
        background: #e41317 none repeat scroll 0 0;
      }

      .ui-slider-handle {
        background: #000 none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        height: 8px;
        top: -3px;
        width: 8px;
      }
    }

    .aside-select {
      width: 100%;
      position: relative;

      .selected-option {
        font-size: 11px;
        font-family: 'TruthCYR-Regular';
        border: 1px solid #aaaaaa;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: medium none;
        width: 100%;
        background: #fff url("assets/arrow.png") no-repeat scroll 97% center / 6px auto;
      }

      .selected-option:focus + .all-options {
        display: block;
      }

      .all-options {
        background-color: #fff;
        border: 1px solid #aaa;
        height: auto;
        position: absolute;
        display: none;
        width: 100%;
        z-index: 10;
        box-sizing: border-box;
        -moz-box-sizing: border-box;


        .option {
          font-size: 11px;
          height: 18px;

          &:hover {
            background-color: #bbb;
          }
        }
      }
    }
  }

  #page-content {
  }

  #page-footer {
    border-top: 1px solid #dbdbdb;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 189px;
    padding-top: 27px;
    position: absolute;
    width: 100%;

    .static-part {
      float: right;

      .social-links {
        display: inline-block;
        float: left;
        margin-right: 40px;
        width: 120px;

        .social-link {
          display: inline-block;
          padding: 0 3px 11px;

          & > a { 
            color: #000;
            height: 23px;
            width: 23px;
            background: url('assets/social-sprites.png');
            display: block;
          }

          &.vk > a { background-position: 0px 0px }
          &.twitter > a { background-position: -29px 0; }
          &.facebook > a { background-position: -58px 0; }
          &.odclass > a { background-position: -87px 0; }
          &.googpl > a { background-position: 0 24px; }
          &.youtube > a { background-position: -29px 24px; }
          &.unknown > a { background-position: -58px 24px; }
          &.instagram > a { background-position: -87px 24px; }
        }
      }

      .phone-info {
        display: inline-block;
        float: left;
        width: 230px;

        .phone1 {
          margin-top: -3px;

          .short-number {
            color: #000000;
            display: inline-block;
            font-size: 16px;
            padding-left: 16px;
            position: relative;
            margin-left: 5px;
            @include after_separator;
            &:after { right: -18px; }

            &:before {
              background: transparent url("assets/sprites.png") no-repeat scroll center -227px;
              bottom: 0;
              content: "";
              display: block;
              height: 13px;
              left: 0;
              margin: auto 0;
              position: absolute;
              top: 1px;
              width: 12px;
            }
          }

          .long-number {
            display: inline-block;
            position: relative;
            color: #000;
            font-size: 16px;
            margin-left: 31px;
          }

          .info {
            color: #9b9da3;
            display: inline-block;
            font-size: 11px;
            font-weight: lighter;
            margin-left: 4px;
            margin-top: 1px;
          }
        }

        .phone2 {
          margin-top: 13px;

          .long-number {
            display: inline-block;
            margin-left: 2px;
            position: relative;
            color: #000;
            font-size: 16px;
          }

          .info {
            color: #9b9da3;
            display: inline-block;
            font-size: 11px;
            font-weight: lighter;
            margin-left: 3px;
            margin-top: 1px;
          }
        }

        .time-info {
          color: rgba(0, 0, 0, 0.7);
          display: inline-block;
          font-size: 11px;
          font-weight: lighter;
          line-height: 13px;
          margin-left: 3px;
          margin-top: 16px;
        }
      }
    }

    .other-info {
      overflow: hidden;

      .internal-links {
        color: #000;

        .internal-link {
          display: inline-block;
          height: 25px;
          padding-right: 19px;

          & > a {
            font-size: 11px;
            color: rgb(0, 157, 224);
            @include hover_color_red;
          }
        }
      }

      .company-info {
        font-size: 11px;
        margin-top: 13px;
        line-height: 13px;
        color: rgba(0, 0, 0, 0.702);
      }

      .payment-info {
        margin-top: 17px;

        .payment-option {
          display: inline-block;

          & > a {
            height: 30px;
            background: url('assets/payment-sprites.png');
            display: block;
          }

          &.visa > a { 
            background-position: 0px 0px;
            width: 32px;
          }

          &.vervisa > a { 
            background-position: -32px 0; 
            width: 32px;
          }

          &.mcard > a { 
            background-position: -64px 0; 
            width: 35px;
          }

          &.mcards > a { 
            background-position: -100px 0;
            width: 32px;
          }

          &.belcard > a { 
            background-position: -132px 0;
            width: 36px;
          }

          &.easypay > a { 
            background-position: -168px 0;
            width: 53px;
          }

          &.raschet > a { 
            background-position: 38px 0;
            width: 38px;
          }
        }
      }
    }
  }
